<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body layout="column">
  <md-toolbar ng-controller="NavController">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
      </md-button>
      <h2>
        <span><a ui-sref="home">Challenge Local</a></span>
      </h2>
      <span flex></span>
      <md-button ng-show="$root.currentUser" ng-click="logout()">Logout</md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div ui-view class="app-container container-fluid"></div>
</body>
