.loginButtons .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.app-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.match-list {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.match-directive {
    margin: 5px;
    padding: 10px;
    width: 100%;
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
}