<md-content layout="column">
  <h2>Tournament: {{tournament.name}}</h2>

  <h3>Assign Station a Match</h3>

  <div ng-repeat="m in matches">
    <c-match match='m' menu='false'>
      <md-button ng-click="assign(m)" class="md-raised md-primary">
        Select Match
      </md-button>
    </c-match>
  </div>

</md-content>
