<md-content>
  <h2>Tournament: {{tournament.name}}</h2>

  <h1>Available Stations</h1>

  <div ng-repeat="s in stations">
    <h3>Station {{s.name}}</h3>
    <md-button ng-click="s.match_id=match._id" class="md-raised md-primary">Select Station</md-button>
  </div>

</md-content>
