<md-section layout="column">
    <h1>{{score.scores_csv}} something i here</h1>

    <md-section>
        <md-button ng-click="decrementScore(1)" class="md-raised md-primary">-</md-button>
        <span>Player 1 score: {{player1Score}}</span>
        <md-button ng-click="incrementScore(1)" class="md-raised md-primary">+</md-button>
    </md-section>

    <md-section>
        <md-button ng-click="decrementScore(2)" class="md-raised md-primary">-</md-button>
        <span>Player 2 score: {{player2Score}}</span>
        <md-button ng-click="incrementScore(2)" class="md-raised md-primary">+</md-button>
    </md-section>
             <md-button ng-click="updateScore()" class="md-raised md-primary">Update Score</md-button>
    <md-section>

    </md-section>
</md-section>


