<md-content>
    <h2>Tournament: {{tournament.name}}</h2>

    <md-content layout="row">
        <md-button class="md-raised md-primary" ng-click="loadTournament()">
            Update Tournament
        </md-button>
        <md-button class="md-raised md-primary" ui-sref="stations({id: tournament.id})">
            Edit Stations
        </md-button>
    </md-content>

    <md-input-container>
        <label>Round</label>
        <md-select ng-model="matchFilter.round">
            <md-option ng-repeat="round in rounds" value="{{round.id}}">{{round.name}}</md-option>
        </md-select>
    </md-input-container>

    <h1>Matches</h1>

    <div layout="column" class="match-list">
        <div ng-repeat="m in matches | filter:matchFilter" c-match match='m' menu='true'></div>
    </div>

    <h1>Stations</h1>

    <div ng-repeat="s in stations" class="match-list">
        <h3>Station {{s.name}}</h3>

        <div ng-hide="!s.match_id" c-match match='s.match_id' menu='true'></div>
        <div ng-hide="s.match_id">
            <span>No Match</span>
            <md-button>Add Match</md-button>
        </div>
    </div>

</md-content>
