<md-whiteframe class="md-whiteframe-z4 match-directive" layout="row" layout-align="center">
  <p>
    <span>
      <b>{{m.player1_id | participantName}}</b>
      vs
      <b>{{m.player2_id | participantName}}</b>
    </span>
    <span>Status: {{m.state}}</span>
    <span class=""></span>
    <span>{{m.station_id | stationName}}</span>
    <span>Round {{m.round}}</span>
  </p>

  <span flex></span>
  <md-menu ng-show="menu">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ui-sref="score({matchID: m.id, tournamentID:m.tournament_id})">
          <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
          Update score
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ui-sref="assign-station({matchID: m._id})">
          <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
          Assign Station
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button disabled="disabled">
          <md-icon md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
          Remove From station
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-whiteframe>
