<md-content layout-padding layout="column">
  <p>Please Login :)</p>
  <md-input-container>
    <label>Username/Email</label>
    <input type="text" ng-model="user" required>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input type="password" ng-model="password" required>
  </md-input-container>
  <md-content class="loginButtons" layout="row">
    <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    <md-button class="md-raised md-warn" ng-click="register()">Register</md-button>
  </md-content>
</md-content>