<md-content layout-padding layout="column">
  <md-input-container>
    <label>Email</label>
    <input type="text" ng-model="user" required>
  </md-input-container>
  <md-content>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="password" required>
    </md-input-container>
    <md-input-container>
      <label>Password Again</label>
      <input type="password" ng-model="password1" required>
    </md-input-container>
  </md-content>
  <md-content>
    <md-input-container>
      <label>Challonge API Key</label>
      <input type="text" ng-model="apiKey" required>
    </md-input-container>
  </md-content>
  <md-content class="loginButtons">
    <md-button class="md-raised md-warn" ng-click="runReg()">Register</md-button>
  </md-content>
</md-content>