<md-content>
  <h2>Tournament: {{tournament.name}}</h2>

  <h1>Stations</h1>

  <md-section>
  <md-input-container flex>
        <label>Station Name</label>
        <input ng-model="station">
      </md-input-container>
  <md-button ng-click="addStation()" class="md-raised md-primary">Add Station</md-button>
  </md-section>

  <div ng-repeat="s in stations">
    <h3>Station {{s.name}}</h3>
    <div layout="column" class="match-list">
      <div ng-repeat="m in s.matches" c-match match='m'></div>
    </div>
    <md-button ng-click="removeStation(s._id)" class="md-raised md-primary">Remove Station</md-button>
  </div>

</md-content>
