<md-content>
  <h1>Your Tournaments</h1>
    <md-button class="md-raised md-primary" ng-click="loadTournament()">Load Tournament</md-button>
  <ul>
    <li ng-repeat="t in tours"><a ui-sref="tournament({id: t.id})">{{t.name}} {{t.tournament_type}}</a></li>
  </ul>
</md-content>